[Unit]
Description=Starts machine gun diagnostic
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=6
StartLimitAction=reboot


[Service]
Type=simple
StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1


WorkingDirectory=/home/pi/diag
ExecStart=python3 main.py
ExecStopPost=systemctl stop machine_gun_rear_sight.service
TimeoutSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target

