[Unit]
Description=Starts quadro diagnostic and services
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=6
StartLimitAction=reboot


[Service]
Type=simple
StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1


WorkingDirectory=/opt/quadro_main
ExecStart=/opt/quadro_main/main
ExecStopPost=systemctl stop quadro_rear_sight.service
ExecStopPost=systemctl stop quadro_websocket_server.service
TimeoutSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target

