[Unit]
Description=starting an quadro websocket server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/home/pi/websocket_server
ExecStart=python3 ws_server.py
StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
