[Unit]
Description=starting an quadro websocket server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/opt
ExecStart=/opt/ws_server
StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
