[Unit]
Description=starting an quadro gun rear sight

[Service]
Type=simple
User=pi
Group=pi
Restart=on-failure
ExecStart=/home/pi/rear_sight/run_driven.sh

[Install]
WantedBy=multi-user.target


