[Unit]
Description=starting an quadro rear sight node js server

[Service]
Type=simple
User=pi
Group=pi
Restart=on-failure
WorkingDirectory=/home/pi/Turret/rear_sight
ExecStart=node app.js

[Install]
WantedBy=multi-user.target


