.whitez{
    fill: wheat;
}

.redz{
    fill: darkgrey;
}

.greenz{
    fill: slategray;
}


.area_mjpeg{
    z-index: -1;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*
#stream {
    position: fixed;
    height: inherit;
    width: inherit;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(100%) contrast(100%) saturate(100%);
    -webkit-filter: brightness(100%) contrast(100%) saturate(100%);
    left: -9999px;
    right: -9999px;
    cursor: default;
    top: 0;
}
*/

#canvas-square {
    top: -1px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.mainSquare {
    /*border:3px solid greenyellow;*/
    z-index: 1;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: -9999px;
    right: -9999px;
}

.square1 {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: -50px;
}

.square2 {
    width: 100%;
    height: 100%;
    top: 0%;
}
.square3 {
    width: 60vh;
    height: 30%;
    top: 35%;
}


.shoot{
     width: 100%;
     position: fixed;
     display: none;
     z-index: 100;
 }


body{
    overflow: hidden;
    background: #2f4f4f;
    margin-top: 0px;
    padding-top: 0px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.rotate {
    display: none;
}

.leftcol { /* Левая колонка */
    margin-top: 30vh;
    float: left;
    display: block;
    /*position: fixed;*/

  }

.rightcol { /* Правая колонка */
    margin-left: 51%;
  }

.col-one-one {
    left: 20%;
    width: 50%;
    position: relative;
    float: left;
}

.header-top{
    color: #fff;
    padding: 5px 0;
    text-align: center;
    background-color:darkgreen; 
    border-radius: 5px;
}

.main{
    z-index: 2;
}

.row-zoom-buttons{
    z-index: 2;
    position: fixed;
    bottom: -5%;
    right: 5%;
}


.main:after, .row-one:after, .in-row-one:after, .row-zoom-buttons:after, .row-zoom-minus-button:after, .row-zoom-plus-button:after {
    content: "";
    display: inline-table;
    clear: both;
}

.row-zoom-minus-button {
    float: left;
    width: 20%;
}

.buttonZoomMinus {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
}

.buttonZoomMinus:active {
    background-color: #75f180;
}

.row-zoom-plus-button {
    float: left;
}

.buttonZoomPlus {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 60px;
}

.buttonZoomPlus:active {
    background-color: #75f180;
}

.buttons-swap-reg{
    left: 0.5%;
    z-index: 2;

}

.in-row-one{
    float: left;
    width: 10%;
}

.in-row-two{
    float: right;
}

.in-row-three{
    float: right;
}

/*.mode_button_reg_fire {
    background-color: rgba(76, 175, 80, 0.5);
    border-radius: 10px;
    border-style: ridge;
    border-color: goldenrod;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}*/

.mode_button {
    background-color: rgba(76, 175, 80, 0.5); /* Green */
    border-style: groove;
    border-color: goldenrod;
    border-radius: 10px;
    color: white;
    margin-top: 4px;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.mode_button_table {
    background-color: rgba(76, 175, 80, 0.3); /* Green */
    border-style: groove;
    border-color: goldenrod;
    border-radius: 10px;
    color: white;
    margin-top: 4px;
    padding: 14px 18px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.mode_button_pref {
    background-color: rgba(76, 175, 80, 0.5); /* Green */
    border-style: groove;
    border-color: goldenrod;
    border-radius: 10px;
    color: white;
    margin-top: 4px;
    padding: 14px 18px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

/*.mode_button_table:hover {*/
/*    background-color: rgba(144, 215, 145, 0.0);*/
/*}*/


.mode_button_fire {
    /* background-color: rgba(76, 175, 80, 0.5);  Green */
    border-style: ridge;
    border-color: goldenrod;
    border-radius: 10px;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.row-one {
    margin-bottom: 40px;
}


.row-joystick {
    display: inline-flex;
    clear: both;
}

.colCtrlCamera {
    float: left;
    width: 15%;
    min-width: 300px;
}

.joyCtrlCameraDivClass {
    width: 200px;
    height: 200px;
    bottom: 7%;
    right: -1%;
    position: fixed;
}

.rowR-joystick {
    z-index: 2;
    display: inline-flex;
    clear: both;
}

.colRCamera {
    float: left;
    width: 15%;
    min-width: 300px;
}

.joyRCameraDivClass {
    width: 200px;
    height: 200px;
    bottom: 10%;
    left: 10%;
    position: fixed;
}

.buttons-pref {
    left: 0.5%;
    z-index: 2;
}

/*.dropbtn {
    background-color: rgba(76, 175, 80, 0.5);
    border-style: ridge;
    border-color: goldenrod;
    border-radius: 10px;
    color: white;
    padding: 14px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.dropdown {
    position: fixed;
    left: .5%;
    margin-top: 22.5%;
    display: inline-block;
}*/

.dropdown-content-pref {
    /*display: none;*/
    z-index: 1;
    margin-top: -20px;
    margin-left: 50px;
    padding: 3px;
    position: relative;
    /*background-color: rgba(144, 215, 145, 0.3);*/
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    overflow-x: hidden;
    width: 200px;
    text-align: center;
}

.slidecontainer {
    border-radius: 5%;
    /*background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 20px;*/
    text-decoration: none;
    display: block;
}

.button_pref:hover .dropdown-content-pref {display: block;}

/*.mode_button_pref:hover .dropbtn {background-color: #3e8e41;}*/

/*
.table-dropdown {
    position: fixed;
    margin-top: 22.5%;
    margin-left: 68px;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    display: block;
}
*/

#shootText {
    display: none;
    font-family: Arial, serif;
    font-size: 20px;
    text-shadow: black 2px 2px;
    position: absolute;
    margin-top: 20px;
    left: 90px;
}

.shootTextAlarm{
    background-color: rgba(236, 38, 103, 0.5);
}


#ck-button {
    margin: 4px 0 4px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    position: sticky;
}

#ck-button:hover {
    background:rgba(0, 0, 0, 0.3);;
}

#ck-button label {
    float: left;
    width: 7.0em;
}

#ck-button label span {
    text-align: center;
    padding: 3px 0px;
    display: block;
    background-color: rgba(0,0,0,0);
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button input:checked + span {
    background-color:#911;
    color:#fff;
}

#ck-button input:not + span {
    background-color:#000;
    color:#fff;
}

.other_buttons {
    position: fixed;
    top: 150px;
}

.table-content {
    margin-top: -20px;
    margin-left: 50px;
    padding: 3px;
    display: none;
    position: relative;
    /*background-color: rgba(144, 215, 145, 0.3);*/
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 55vh;
    width: inherit;
    text-align: center;
}

.gray-table {
    margin-top: 0;
    width: 23px;
    height: 100%;
    display: block;
    position: absolute;
    background-color: rgba(31, 31, 31, 0.1);
    padding: 100px;
}

#datalist {
    /*padding-top: 40px;*/
}

.gt {
    background-color: #3e8e41;
}


.table-dropdown:hover .table-content {display: block; height: 55vh;}

.table-dropdown:hover .tablebtn {background-color: #3e8e41;}

.table-dropdown:focus .table-content { display: block; height: 55vh;}

.table-dropdown:focus .tablebtn {background-color: #3e8e41;}




table, td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    font-size: 25px;
    border-collapse: collapse;
}

td {cursor: pointer;}

.selected {
    background-color: rgba(236, 38, 103, 0.6);
    background-size: 220px;
    background-position: 240px 65px;
    color: #FFF;
}


/*поворот всей стр при портретной ориентации*/
@media screen and (min-width: 100px) and (max-width: /*767*/900px) {
    .b-container{
        top: -110px !important;
    }

    .b-nav {
        transform: scale(.95) !important;
        top: -20px !important;

    }

    #shootText {
        margin-top: -105px !important;
        left: 34% !important;
        transform: scale(.7) !important;
    }
    /*.b-nav.open {*/
    /*    left: -25px !important;*/
    /*}*/

    .blockDistInfo{
        margin: -15px !important;
        transform: scale(.7) !important;
    }

    #rulerV {
        transform: scale(11) !important;
    }

    #verticalBookmark {
        width: 50px !important;
        right: -20px !important;
        height: 18px !important;
    }

    #verticalJoystick {
        right: 1px !important;
    }

    #verticalCoordinatesBlock{
        right: 20px !important;
    }

    #rulerH {
        transform: scale(11) !important;
        bottom: 1515px !important;
    }

    #horizontalCoordinatesBlock {
        bottom: 45px !important;
        left: 43.5% !important;
    }

    #horizontalBookmark {
        width: 18px !important;
        height: 38px !important;
        bottom: 15% !important;
        left: 48.8% !important;
    }

    #horizontalJoystick {
        bottom: 1px !important;
    }
}
/*@media screen and (min-width: 320px) and (max-width: !*767*!800px) and (orientation: portrait) {*/
/*    html {*/
/*        transform: rotate(-90deg);*/
/*        transform-origin: left top;*/
/*        width: 100vh;*/
/*        overflow-x: hidden;*/
/*        position: fixed;*/
/*        top: 100%;*/
/*        left: 0;*/
/*    }*/

/*    .area_video {*/
/*        z-index: -1;*/
/*        text-align: center;*/
/*        position: fixed;*/
/*        width: auto;*/
/*        height: auto;*/
/*        left: -9999px;*/
/*        right: -9999px;*/
/*    }*/

/*    #rulerV {*/
/*        transform: scale(11) !important;*/
/*    }*/

/*    #rulerH {*/
/*        transform: scale(11) !important;*/
/*        bottom: 1515px !important;*/
/*    }*/
/*}*/


/*
@media screen and (orientation: portrait) {

    .leftcol, .rightcol {
        visibility: hidden;
    }

    .rotate {
        position: fixed;
        z-index: 100;
        margin-top: 30%;
        margin-left: 10%;
        margin-right: 10%;
        display: block;
        border-style: solid;
        border-width: 10px;
        border-color: red;
        background-color: aqua;
        font-size: 48px;
        padding: 5%;
    }
}
*/

#horizontalBookmark{
    height: 70px; background-color: #ff00008c; width: 15px; position: absolute; bottom: 62%; left: 49.5%;
}

#verticalBookmark{
    height: 15px; background-color: #ff00008c; width: 75px; position: absolute; right: -35px;
}

#verticalJoystick{
    top: -285px;
    right: 15px;
    width: 35px;
    height: 600px;
    /*background: rgba(51,51,51,0.35);*/
    /*margin: 20px auto;*/
    position: absolute;
    border-radius: 8px;
}

#horizontalJoystick {
    left: -9999px;
    right: -9999px;
    bottom: 30px;
    width: 600px;
    height: 35px;
    /*background: rgba(51,51,51,0.35);*/
    margin: 20px auto;
    position: absolute;
    border-radius: 8px;
}

#horizontalCoordinatesBlock{
    height: 30px;
    box-shadow: inset 0 0 10px #000;
    background: #0000002e;
    width: 100px;
    position: absolute;
    bottom: 82px;
    left: 47.5%;
}

#horizontalCoordinates {
    color: wheat;
    font-size: 25px;
    top: 4px;
    position: relative;
}
#verticalCoordinatesBlock{
    height: 30px;
    box-shadow: inset 0 0 10px #000;
    background: #0000002e;
    width: 100px;
    position: absolute;
    bottom: 195px;
    right: 45px;
}

#verticalCoordinates {
    color: wheat;
    font-size: 25px;
    top: 4px;
    position: relative;
}

#knob {
    cursor: move;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    position: relative;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    background: #ff0000;
    background: -moz-radial-gradient(center, ellipse cover,  #ff0000 0%, #a02020 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #ff0000 0%,#a02020 100%);
    background: radial-gradient(ellipse at center,  #ff0000 0%,#a02020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#a02020',GradientType=1 );
}
#vknob {
    /*left: 35px;*/
    bottom: 10px;
    cursor: move;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    position: relative;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    background: #ff0000;
    background: -moz-radial-gradient(center, ellipse cover,  #ff0000 0%, #a02020 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #ff0000 0%,#a02020 100%);
    background: radial-gradient(ellipse at center,  #ff0000 0%,#a02020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#a02020',GradientType=1 );
}
#console {
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


/*  iPad,  Tablets

@media screen and (min-width: 768px) and (max-width: 978px) {
    .buttons-swap-reg {
        left: 0.5%;
        z-index: 100;
        position: fixed;
        margin-top: 28%;
    }
}

 */

.distInfo {
    position: absolute;
    /*width: 99%;*/
    bottom: 4%;
    left: 1%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.blockDistInfo {
    padding: 5px;
    width: 88px;
    background-color: rgba(0, 0, 0, .2);
    text-shadow: black 2px 2px 1px;
    border-radius: 50%;
    font-size: 25px;
    font-family: 'Share Tech', sans-serif;
    margin: auto;
}

.redLineDist {
    height: 9px;
    background-color: #ff00008c;
    width: 88px;
    position: absolute;
    top: 46%;
}

.textDistInfo {
    transform: scale(0.7, 1);
    color: #dedede;
    font-size: inherit;
    width: auto;
}

/*.textDistInfo:hover {*/
/*    background-color: #ff00008c;*/
/*    background-size: contain;*/
/*}*/

.textDist2Info {
    transform: scale(0.55, 1);
    color: #dedede;
    font-size: inherit;
    width: auto;
}

.textDist3Info {
    transform: scale(0.4, 1);
    color: #dedede;
    font-size: inherit;
    width: auto;
}

.textMiddleDistInfo {
    transform: scale(0.9, 1);
    color: #dedede;
    font-size: 35px;
    width: auto;
    vertical-align: -2px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: rgba(255, 0, 0, 0.3);
    background: linear-gradient(to bottom,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background-color: #e11414;
    box-shadow: 0 0 0.3125em -0.03125em #000000;
}

.ruler {
    width: 490px;
    height: 120px;
    display: block;
    position: relative;
    margin: auto;
    bottom: -73px;
}

#rulerH{
    width: 30px;
    transform: scale(20);
    margin-bottom: -1500px;
    font-size: 1.5px;
    background: #0000002e;
    height: 3.5px;
    bottom: 1540px;
    position: relative;
    box-shadow: inset 0 0 .5px #000;
}

#rulerV{
    transform: scale(20);
    margin-bottom: 180px;
    font-size: 1.5px;
    height: 30px;
    box-shadow: inset 0 0 .5px #000;
    background: #0000002e;
    width: 4px;
    right: 6%;
    position: relative;
}

.ellipseVertical {
    position: absolute;
    /*width: 99%;*/
    right: 3%;
    margin: 0 auto;
    text-align: center;
    display: block;
    top: 49%;
}

.blockEllipseVertical {
    padding: 5px;
    width: 50px;
    height: auto;
    background-color: rgba(0, 0, 0, .2);
    text-shadow: black 2px 2px 1px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Share Tech', sans-serif;
    margin: auto;
    line-height: 2.3;
}

.redLineDistVertical {
    height: 45px;
    background-color: #ff00004a;
    width: 60px;
    position: absolute;
    top: 44%;
    left: 0;
}

.ellipseHorizontal {
    position: absolute;
    width: 100%;
    bottom: 3%;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.blockEllipseHorizontal {
    display: block ruby;
    letter-spacing: 1px;
    width: 500px;
    height: max-content;
    background-color: rgba(0, 0, 0, .2);
    text-shadow: black 2px 2px 1px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Share Tech', sans-serif;
    margin: auto;
    box-shadow: inset 1em 0 1.25em -0.5em #000000, inset -1em 0 1.25em -0.5em #000000;
}

.redLineDistHorizontal {
    height: 50px;
    background-color: #ff00004a;
    width: 74px;
    position: absolute;
    top: 0;
    margin-left: 253px;
    display: block ruby;
}


#range {
    position:fixed;
    right: 5%;
    height:500px;
    background-color:silver;
}

button {
    background-color: black;
}

/*  b-#class  -- menu buttons   */

@keyframes slideInLeft {
    0% {
        transform: translate3d(-250px, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideOutLeft {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-250px, 0, 0);
        visibility: hidden;
    }
}
.b-nav {
    position: absolute;
    z-index: 11;
}
.b-nav:not(.open) {
    visibility: hidden;
}
.b-nav li {
    color: rgba(68, 68, 68, 1);
    list-style-type: none;
    padding: 10px;
    text-align: left;
    transform: translateX(-250px);
}
.b-nav li:not(.open) {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: slideOutLeft;
}
.b-nav li:first-child {
    padding-top: 90px;
}
.b-nav.open {
    visibility: visible;
}
.b-nav.open li {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: slideInLeft;
}
.b-menu {
    background: rgba(255, 255, 255, .5);
    border: rgb(76, 175, 80) solid 2px;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    padding-left: 15.5px;
    padding-top: 17.5px;
    position: relative;
    transition: all 0.4s ease;
    user-select: none;
    width: 40px;
    z-index: 12;
    margin-top: 10px;
}
.b-menu:hover {
    border: rgba(68, 68, 68, 1) solid 2px;
}
.b-anim {
    background: rgba(68, 68, 68, 1);
    position: relative;
    transition: all 0.4s ease;
}
.b-anim-top {
    height: 2.5px;
    top: 1px;
    width: 25px;
    left: 1px;
}
.b-anim-mid {
    height: 2px;
    top: 22px;
    width: 25px;
    left: 1px;
}
.b-anim-bottom {
    height: 2px;
    top: 8px;
    width: 25px;
    left: 1px;
}

.b-container {
    left: 8px;
    position: relative;
    top: 8px;
}

.b-container.open .b-main {
    border: rgba(68, 68, 68, 1) solid 2px;
}
.b-container.open .b-anim-top {
    background: rgba(68, 68, 68, 1);
    top: 12px;
    transform: rotate(45deg);
}
.b-container.open .b-anim-mid {
    opacity: 0;
}
.b-container.open .b-anim-bottom {
    background: rgba(68, 68, 68, 1);
    top: 8px;
    transform: rotate(-45deg);
}
.b-container.open {
    color: rgba(68, 68, 68, 1);
}

.clear-index {
    position: absolute;
    right: 1px;
    float: right;
    top: 4px;
    font-size: 25px;
    transition-delay: 1.5s;
    border-radius: 10px;
    border: 1px outset white;
    width: 30px;
}

.clear-index:active {
    transition-delay: 0s;
    filter: invert(1);
}

.clear-table {
    position: relative;
    box-shadow: 1px -2px 4px 4px rgba(0,0,0,0.2);
    transition-delay: 3s;
    float: left;
    width: 50%;
}

.clear-table:active {
    transition-delay: 0s;
    filter: invert(1);
}

.clear-table-accept {
    display: inline-block;
    border-radius: 10px;
    border: 1px outset white;
    width: 35px;
    background-color: rgba(0, 0, 0, .5);
}

.clear-table-accept:active {
    filter: invert(1);
}

.clear-table-decline{
    display: inline-block;
    border-radius: 10px;
    border: 1px outset white;
    width: 30px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.clear-table-decline:active {
    filter: invert(1);
}

#clear-table {
    top: 1px;
    font-size: 20px;
    position: relative;
}

/*
  Horizontal Slider
 */

.sliderlens {
    opacity: .8;
    cursor: pointer;
}
.sliderlens.focus {
    opacity: 1;
}
.sliderlens .range {
    background-color: #050505;
    border-width: 0.0625em;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(top,#121212,#787878) 1;
    -moz-border-image: -moz-linear-gradient(top,#121212,#787878) 1;
    -o-border-image: -o-linear-gradient(top,#121212,#787878) 1;
    -ms-border-image: -ms-linear-gradient(top,#121212,#787878) 1;
    border-image: linear-gradient(to bottom,#121212,#787878) 1;
}
.sliderlens .range > div {
    background-color: #313131;
}
.sliderlens .range.drag > div {
    cursor: ew-resize;
}
.sliderlens .range.drag.dragging > div {
    cursor: none;
}
.sliderlens > .handle, .sliderlens > .handle1, .sliderlens > .handle2 {
    border-radius: 3em/.75em;
    cursor: ew-resize;
    background-color: #e11414;
    box-shadow: 0 0 0.3125em -0.03125em #000000;
    border: 0 solid #787878;
    border-bottom-color: #121212;
    border-width: 0.0625em 0;
}
.sliderlens > .handle:before, .sliderlens > .handle:after, .sliderlens > .handle1:before, .sliderlens > .handle1:after, .sliderlens > .handle2:before, .sliderlens > .handle2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.sliderlens > .handle.dragging, .sliderlens > .handle1.dragging, .sliderlens > .handle2.dragging {
    box-shadow: 0 0 0.3125em -0.0625em #000000;
}
.sliderlens > .handle .range, .sliderlens > .handle1 .range, .sliderlens > .handle2 .range {
    -webkit-border-image: -webkit-linear-gradient(top,#121212,#d1d1d1) 1;
    -moz-border-image: -moz-linear-gradient(top,#121212,#d1d1d1) 1;
    -o-border-image: -o-linear-gradient(top,#121212,#d1d1d1) 1;
    -ms-border-image: -ms-linear-gradient(top,#121212,#d1d1d1) 1;
    border-image: linear-gradient(to bottom,#121212,#d1d1d1) 1;
}
.sliderlens > .handle:before {
    right: 50%;
    bottom: 55%;
    border-right: 0.0625em solid rgba(186,186,186,0.6);
    z-index: 1;
}
.sliderlens > .handle:after {
    background: -webkit-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: -moz-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: -o-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: -ms-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: linear-gradient(to right,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
}
.sliderlens > .handle1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.sliderlens > .handle1:after {
    background: -webkit-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: -moz-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: -o-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: -ms-linear-gradient(left,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: linear-gradient(to right,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
}
.sliderlens > .handle2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sliderlens > .handle2:after {
    background: -webkit-linear-gradient(left,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: -moz-linear-gradient(left,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: -o-linear-gradient(left,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: -ms-linear-gradient(left,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: linear-gradient(to right,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
}
.sliderlens svg > path {
    stroke: rgba(186,186,186,0.6);
}
.sliderlens svg > g > text {
    fill: rgba(186,186,186,0.6);
    font-size: 1em;
}
.sliderlens.vert > .handle, .sliderlens.vert > .handle1, .sliderlens.vert > .handle2 {
    cursor: ns-resize;
    border-radius: 3em/.75em;
}
.sliderlens.vert > .handle .range, .sliderlens.vert > .handle1 .range, .sliderlens.vert > .handle2 .range {
    -webkit-border-image: -webkit-linear-gradient(top,#121212,#787878) 1;
    -moz-border-image: -moz-linear-gradient(top,#121212,#787878) 1;
    -o-border-image: -o-linear-gradient(top,#121212,#787878) 1;
    -ms-border-image: -ms-linear-gradient(top,#121212,#787878) 1;
    border-image: linear-gradient(to bottom,#121212,#787878) 1;
}
.sliderlens.vert > .handle:before {
    right: 55%;
    bottom: 50%;
    border-right: none;
    border-bottom: 0.0625em solid rgba(186,186,186,0.6);
}
.sliderlens.vert > .handle:after {
    background: -webkit-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: -moz-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: -o-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: -ms-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
    background: linear-gradient(to bottom,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 50%,rgba(56,56,56,0.25) 50%,rgba(56,56,56,0.95) 100%);
}
.sliderlens.vert > .handle1 {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.sliderlens.vert > .handle1:after {
    background: -webkit-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: -moz-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: -o-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: -ms-linear-gradient(top,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
    background: linear-gradient(to bottom,rgba(69,69,69,0.95) 0%,rgba(120,120,120,0.25) 100%);
}
.sliderlens.vert > .handle2 {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.sliderlens.vert > .handle2:after {
    background: -webkit-linear-gradient(top,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: -moz-linear-gradient(top,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: -o-linear-gradient(top,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: -ms-linear-gradient(top,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
    background: linear-gradient(to bottom,rgba(56,56,56,0.25) 0%,rgba(56,56,56,0.95) 100%);
}
.sliderlens.fixed {
    border-width: 0.0625em;
    border-style: solid;
    -webkit-border-image: -webkit-linear-gradient(top,#121212,#787878) 1;
    -moz-border-image: -moz-linear-gradient(top,#121212,#787878) 1;
    -o-border-image: -o-linear-gradient(top,#121212,#787878) 1;
    -ms-border-image: -ms-linear-gradient(top,#121212,#787878) 1;
    border-image: linear-gradient(to bottom,#121212,#787878) 1;
    /*background-color: #383838;*/
    cursor: ew-resize;
}
.sliderlens.fixed:before, .sliderlens.fixed:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 0 0 0.0625em 0;
    border-style: solid;
    pointer-events: none;
    -webkit-border-image: -webkit-linear-gradient(top,#050505,#5f5f5f) 1;
    -moz-border-image: -moz-linear-gradient(top,#050505,#5f5f5f) 1;
    -o-border-image: -o-linear-gradient(top,#050505,#5f5f5f) 1;
    -ms-border-image: -ms-linear-gradient(top,#050505,#5f5f5f) 1;
    border-image: linear-gradient(to bottom,#050505,#5f5f5f) 1;
}
.sliderlens.fixed:after {
    border-width: 0 0.0625em;
    box-shadow: inset 1em 0 1.25em -0.5em #000000, inset -1em 0 1.25em -0.5em #000000;
}
.sliderlens.fixed.vert {
    cursor: ns-resize;
}
.sliderlens.fixed.vert:before {
    border-width: 0 0.0625em;
}
.sliderlens.fixed.vert:after {
    border-width: 0 0 0.0625em 0;
    box-shadow: inset 0 1em 1.25em -0.5em #000000, inset 0 -1em 1.25em -0.5em #000000;
}
.sliderlens.fixed > .handle {
    border-radius: 0;
    border: none;
}
.sliderlens.vert .range.drag > div {
    cursor: ns-resize;
}
.sliderlens.dragging {
    cursor: none;
}
.sliderlens.dragging > .handle, .sliderlens.dragging > .handle1, .sliderlens.dragging > .handle2 {
    cursor: none;
}
#verticalSlider {
    width: 75px !important;
    height: 400px;
}


#xMin, #xMax, #yMin, #yMax {
    position: absolute;
    background: rgba(230, 40, 10, .3);
}

#xMin {
    width: 30px;
    height: 100%;
    left: 0;
}

#xMax {
    width: 30px;
    height: 100%;
    right: 0;
}

#yMin {
    width: 100%;
    height: 30px;
    top: 0;
}

#yMax {
    width: 100%;
    height: 30px;
    bottom: 0;
}

.hidden-class {
    visibility: hidden;
}

#binding_div {
    background: rgba(200,200,200,0.45);
    width:fit-content;
    margin: auto;
    padding: 20px;
    border: 3px solid #73AD21;
    position: absolute;
    right: 20%;
    text-align: center;
}

#binding_set_button, #binding_reset_button, #binding_cancel_button {
    background-color: #bbb;
    margin: 5px;
}

#tracker_div {
    background: rgba(200,200,200,0.45);
    width:fit-content;
    margin: auto;
    padding: 20px;
    border: 3px solid #73AD21;
    position: absolute;
    left: 5%;
    text-align: center;
}

#tracker_stop_button {
    background-color: #bbb;
    margin: 5px;
}

#errors_div {
    background: rgba(243,234,208,0.45);
    margin: auto;
    padding: 5px;
    border: 3px solid #ad2121;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 55%;
    text-align: right;
    height: 27%;
}

#errors_p {
    background-color: #bbb;
    margin: 5px;
    width: -moz-available;
    width: -webkit-fill-available;
    font-size: x-large;
    height: 70%;
    padding: 8px;
    text-align: left;
}

#errors_close_button, #errors_clear_button {
    background-color: #bbb;
    margin: 5px;
    margin-right: 5%;
    padding: 4px;
    position: relative;
    bottom: 10px;
}


#measuring_div {
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
}

.outline {
    --square-zoom: 4;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--square-zoom));
}

#measuring_label {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    background-color: #121212; 
    color: #d1d1d1;
    padding: 6px;
}

#streamDiv {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#stream {
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}











#slider_div {
    /*background-color: red; */
    width: 100px; 
    height: 20px; 
    padding: 2px;
  }
  
  #pointer_div {
    /*background-color: white; */
    width: 16px; 
    height: 16px; 
    border: 2px solid black; 
    position: relative; 
    --position: 30%; 
    left: var(--position);
  }
  
  #full_back_div {
    /*background-color: darkblue; */
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left 0;
    top: 0;
    text-align: center;
  }
  
  #at_bottom_div {
    /*background-color: blue; */
    position: absolute;
    bottom: 5%; 
    width: 100%;
    height: 10%;
    text-allign: center;
  }
  
  #horizontaly_centered_div {
    /*background-color: white; */
    margin: 0 auto;
    width: 60%;
    text-allign: center;
  }
  
  #top_div, #bottom_div {
    background-color: rgba(186,186,186,0.6);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
  }
  
  #range_input {
    width: 100%;
  }
  
  #at_right_div {
    /*background-color: green; */
    position: absolute;
    right: 5%; 
    width: 10%;
    height: 100%;
    display: flex;
  }
  
  #left_column_div {
    /*background-color: darkgreen; */
    flex: 50%;
    width: 50%;
    height: 80%;
    margin-top: 20%;
  }
  
  #right_column_div {
    background-color: rgba(186,186,186,0.6);
    flex: 50%;
    width: 50%;
    height: 80%;
    margin-top: 20%;
  }
  
  #v_range_input {
    position: relative;
    height: 90%;
    top: 5%;
    width: 100%;
  }
  
  input[type=range][orient=vertical]
  {
      writing-mode: bt-lr; /* IE */
      -webkit-appearance: slider-vertical; /* Chromium */
     
  }
  
  
  .disabledclass::-webkit-slider-thumb {
     
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #5050AF;
      cursor: default;
  }
  
  .disabledclass {
      -webkit-appearance: none;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
  }